.edit-toggle {
  $this: '.edit-toggle';
  position: relative;

  width: $input-component-size;
  aspect-ratio: 1;

  &__controller {
    &[value='0'] {
      ~ #{$this}__view {
        display: block;
      }
    }
    &[value='on'] {
      ~ #{$this}__edit {
        display: block;
      }
    }
  }

  &__view,
  &__edit {
    display: none;
    transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.21);
  }
}
