-
  data.navigation = {
    radios: [
      { name: 'nav', label: 'Skills/Spells', value: 'skillsspells', type: 'radio', blockName: 'nav' },
      { name: 'nav', label: 'Attacks', value: 'attacks', type: 'radio', blockName: 'nav' },
      { name: 'nav', label: 'Inventory', value: 'inventory', type: 'radio', blockName: 'nav' },
      { name: 'nav', label: 'Miscellaneous', value: 'miscellaneous', type: 'radio', blockName: 'nav' },
      { name: 'nav', label: 'All', value: 'all', type: 'radio', blockName: 'nav' },
    ],
  }
