-
  data.stats = {
    fieldsets: {
      skill: [
        { name: 'skill', label: 'Skill', value: 4, min: 0, size: 'large', type: 'number', blockName: 'stats' }
      ],
      stamina: [
        { name: 'stamina', label: 'Stamina', value: 14, min: 0, type: 'number', blockName: 'stats' },
        { name: 'stamina_max', label: 'Max', value: 14, min: 0, size: 'simple', type: 'number', blockName: 'stats' },
      ],
      luck: [
        { name: 'luck', label: 'Luck', value: 5, min: 0, type: 'number', blockName: 'stats' },
        { name: 'luck_max', label: 'Max', value: 5, min: 0, size: 'simple', type: 'number', blockName: 'stats' },
      ],
    },
  };
